pipeline/InstToHospitalPipeline_test_two.json
{
	"name": "InstToHospitalPipeline_test_two",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from watermarktable where TableName = 'dm_d_inst'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "StageDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "select ceil(max(extract(epoch from load_time))) as NewWatermarkvalue from dm_d_inst",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopySourceInstData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select * from dm_d_inst where extract(epoch from load_time) > @{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue} and extract(epoch from load_time) <= @{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue} and inst_type = 'HS' and inst_type_l1 = '医疗机构' ",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table source_inst",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "inst_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_en",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_en",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "websit",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "telephone",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "register_time",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "register_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "deregister_time",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "deregister_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "close_time",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "close_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_active",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "postcode",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "uscc",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gps_x",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "gps_x",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gps_y",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "gps_y",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "township_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StageSourceInstDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoredProceduretoWriteWatermarkActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LogicDeleteTarget",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"TableName": {
							"value": "dm_d_inst",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "StageLinkService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "InsertOrUpdateTarget",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetInsertUpdateDelete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n\tinst_code,\n\tinst_name,\n\tprovince_code,\n\tprovince_cn,\n\tprovince_en,\n\tcity_code,\n\tcity_cn,\n\tcity_en,\n\tcounty_code,\n\tcounty_cn,\n\ttownship_code,\n\tinst_grade,\n\tinst_grade_level,\n\tinst_type,\n\tinst_type_l1,\n\tinst_type_l2,\n\tinst_type_l2_code,\n\tinst_type_l3,\n\tinst_type_l4,\n\teconomic_type,\n\tcounty_flag,\n\tmilitary_flag,\n\tmedicare_flag,\n\tuscc,\n\twebsit,\n\taddress,\n\tgps_x,\n\tgps_y,\n\ttelephone,\n\tpostcode,\n\tcold_chain,\n\ttnpr_flag,\n\tnhc_certify,\n\tLEFT(register_time, 19) register_time,\n\tLEFT(deregister_time, 19) deregister_time,\n\tclose_time,\n\toperation_status,\n\tstatus_provided_by_retail,\n\tvalidate_status,\n\tLEFT(validate_time, 19) validate_time,\n\tvalidate_result,\n\tis_active,\n\tactive_desc,\n\tbusiness_scope\nFROM\n\tsource_inst si \nWHERE etl_is_passed = 1 AND (etl_is_insert = 1 OR etl_is_update = 1)\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"inst_code"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "inst_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gps_x",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gps_x",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "gps_y",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gps_y",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "register_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "register_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "deregister_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "deregister_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "close_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "close_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "StageDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TargetHospitalDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CopyTargtetHospitalData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopySourceInstData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table target_hospital",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "inst_code",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "inst_code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gps_x",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								},
								"sink": {
									"name": "gps_x",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "gps_y",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								},
								"sink": {
									"name": "gps_y",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "register_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "register_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "deregister_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "deregister_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "close_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "close_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TargetHospitalDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StageTargetHospitalDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SetInsertUpdateDelete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CheckIsnumericProcedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[check_inst_hospital_cud]"
				},
				"linkedServiceName": {
					"referenceName": "StageLinkService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LogicDeleteTarget",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "InsertOrUpdateTarget",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT inst_code, etl_is_delete FROM target_hospital th WHERE etl_is_delete = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"inst_code"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "inst_code",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "inst_code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "etl_is_delete",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "is_delete",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "StageDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TargetHospitalDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CheckNullProcedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyTargtetHospitalData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[check_column_null]",
					"storedProcedureParameters": {
						"ColNames": {
							"value": "inst_code,inst_name,province_code",
							"type": "String"
						},
						"IsPassed": {
							"value": "0",
							"type": "Int16"
						},
						"TableName": {
							"value": "source_inst",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "StageLinkService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CheckIsnumericProcedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CheckNullProcedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[check_column_isnumeric]",
					"storedProcedureParameters": {
						"ColNames": {
							"value": "inst_code",
							"type": "String"
						},
						"IsPassed": {
							"value": "0",
							"type": "Int32"
						},
						"TableName": {
							"value": "source_inst",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "StageLinkService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-02-22T13:27:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}