pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "CopySourceInstData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select * from dm_d_inst where extract(epoch from load_time) > @{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue} and extract(epoch from load_time) <= @{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue} and inst_type = 'HS' and inst_type_l1 = '医疗机构' ",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table source_inst",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "inst_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_en",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_en",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "websit",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "telephone",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "register_time",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "register_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "deregister_time",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "deregister_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "close_time",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "close_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_active",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "postcode",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "uscc",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gps_x",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "gps_x",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gps_y",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "gps_y",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "township_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StageSourceInstDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoredProceduretoWriteWatermarkActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "InsertOrUpdateTarget",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"TableName": {
							"value": "dm_d_inst",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "StageLinkService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "InsertOrUpdateTarget",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopySourceInstData",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CopyTargtetHospitalData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from source_inst",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"inst_code"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "inst_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gps_x",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gps_x",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "gps_y",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gps_y",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "register_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "register_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "deregister_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "deregister_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "close_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "close_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "StageDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TargetHospitalDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CopyTargtetHospitalData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table target_hospital",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "inst_code",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "inst_code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "province_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "city_en",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "township_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_grade",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_grade_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l2_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inst_type_l4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "economic_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "county_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "military_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "medicare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "uscc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "websit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gps_x",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								},
								"sink": {
									"name": "gps_x",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "gps_y",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								},
								"sink": {
									"name": "gps_y",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cold_chain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "tnpr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "nhc_certify",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "register_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "register_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "deregister_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "deregister_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "close_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "close_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "operation_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status_provided_by_retail",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "validate_result",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "is_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "active_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_scope",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TargetHospitalDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StageTargetHospitalDataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-02-21T14:45:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}